html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: white;
  /* vh vw vmin vmax dynamic resize */
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5%;
  transition: background 250ms ease-in;
}

a:hover {
  background-color: #eeedec;
  transition: background 250ms ease-out;
}

img {
  max-width: 100%;
}

/*nav and footer*/

.nav {
  height: 65px;
  display: flex;
  width: 100%;
  justify-content: center;
  background: #297373;
}

.nav-link {
  padding: 0 4vmin;
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  height: 30px;
  font-size: 25px;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

/*global containers*/

.container-top {
  background-color: #297373;
  position: fixed;
  z-index: 999;
}

.page {
  max-width: 840px;
  min-width: 600px;
  position: relative;
  top: 66px;
}

/* index */
/* global index changes */

.box {
  width: 50%;
  height: 35vh;
  max-width: 715px;
  margin: auto;
  position: relative;
  top: 0;
}

.accent {
  background-color: #ffc5ad;
}

.white-box {
  background-color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

hr {
  border-top: 2px #0d1f2d solid;
}

/* heading */
.heading {
  height: 320px;
  width: 100%;
}

.heading h2 {
  font-size: 6.5vw;
  position: relative;
  display: inline-block;
  width: 60vw;
  bottom: 35vw;
  text-align: right;
}

.text-decor {
  font-size: 7vw;
  margin: 0 0 20px 20px;
  line-height: 1.2;
  position: relative;
  top: 0.5vw;
}

/* main content */

.container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 40px auto;
}

.scroll {
  margin: 40px 0;
  width: 100%;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.smaller-box {
  width: 200px;
  margin: 50px 20px;
  padding: 15px;
  text-align: center;
  justify-content: center;
  align-content: center;
  line-height: 1.5;
  box-sizing: border-box;
}

.smaller-box h4 {
  min-height: 1vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito Sans", sans-serif;
}

.border-box {
  border: 5px #08415c solid;
}

.smaller-box img {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

/*form*/
.textarea {
  margin: 5vmin 0;
  max-height: 50vh;
  width: 70%;
}

#type {
  width: 45vw;
  margin: 1em 0 1em 10em;
  padding: 10px;
  box-sizing: border-box;
}

.textarea h3 {
  margin-left: 1em;
}

.question {
  flex-direction: column;
}

.wide {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vw;
}

select {
  background-color: white;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

select:hover {
  background-color: #eeedec;
}

.check {
  display: inline-block;
  width: 10vmin;
}

.checkLabel {
  display: inline-block;
  width: 100px;
  font-size: 1.2rem;
}

.submission {
  max-height: 80px;
  text-align: center;
  position: relative;
  bottom: 70px;
}

.submission input {
  padding: 10px 75px;
  text-align: center;
  font-size: 17px;
  background-color: white;
  border: 1px solid black;
  margin: 20px 30px;
}

.submission input:hover {
  margin-top: 21px;
  background-color: #eeedec;
}

/*responsiveness*/

/*200px to 600px*/
@media only screen and (max-width: 600px) and (min-width: 200px) {
  .nav {
    min-width: 200px;
  }

  .nav-link {
    font-size: 5vmin;
    padding: 0 1px;
  }
  /*index*/
  .page {
    max-width: 600px;
    min-width: 300px;
  }

  .box {
    height: 45vh;
    max-width: 715px;
  }

  .heading h2 {
    font-size: 15vw;
    width: 60vw;
    bottom: 48vmax;
  }

  .text-decor {
    display: none;
  }

  .container {
    min-width: 300px;
    max-width: 550px;
    width: 10vmin;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .smaller-box {
    margin: 10px;
    height: 0;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  /*    form*/

  [type="text"] {
    width: 50vw;
  }

  .textarea {
    margin-top: 50px;
  }
  #type {
    width: 65vw;
    margin: 1em;
  }

  .grad-down {
    background-color: white;
  }

  .submission {
    width: 250px;
    height: 130px;
    text-align: center;
    margin: auto;
  }
}

/*830px+ */

@media only screen and (min-width: 830px) {
  /*    index*/
  .page {
    max-width: 2050px;
    min-width: 830px;
  }

  .box {
    height: 45vh;
    max-width: 715px;
  }

  .heading h2 {
    font-size: 7.5vh;
    width: 60vw;
    bottom: 45vh;
  }

  .container {
    min-width: 830px;
    width: 100%;
  }

  .smaller-box {
    min-width: 27vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*    nav*/
  .nav {
    justify-content: flex-end;
  }

  /*    form*/

  #type {
    width: 55vmin;
  }
  .textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
  }

  [type="text"] {
    width: 55vmin;
    height: 30px;
    margin: 30px;
  }

  .lower {
    min-width: 820px;
    margin: 20px auto;
    box-sizing: content-box;
  }
  .submission {
    width: 820px;
    height: 150px;
    text-align: center;
    margin: auto;
  }
  .checkLabel {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1100px) {
  .smaller-box {
    min-height: 35vw;
    justify-content: flex-start;
    padding: 40px;
  }
  .large-screen {
    min-height: 20vw;
    justify-content: center;
  }
}
