html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  /* vh vw vmin vmax dynamic resize */
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 5%;
  transition: background 250ms ease-in;
}

a:hover {
  background-color: #eeedec;
  transition: background 250ms ease-out;
}

/*nav bar*/

.nav {
  height: 65px;
  display: flex;
  width: 100%;
  justify-content: center;
  background: cadetblue;
}

.nav-link {
  padding: 0 4vmin;
  font-family: "Nunito Sans", sans-serif;
  display: inline;
  height: 30px;
  font-size: 25px;
}

footer {
  width: 100%;
  position: relative;
  z-index: 999;
}

/*global containers*/

.container-top {
  width: 100%;
  background-color: cadetblue;
  position: fixed;
  z-index: 999;
}

/*form*/

.form-page {
  position: relative;
  top: 60px;
  background: #ebbab9;
}

.form1 {
  text-align: center;
  width: 550px;
  margin: auto;
}

.upper {
  width: 580px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid black;
  padding: 10px;
}

.lower {
  width: 550px;
  margin: auto;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

[type="text"] {
  width: 300px;
  margin: 30px;
}
#type {
  width: 65vmin;
  margin: 1em;
  padding: 10px;
  box-sizing: border-box;
}

label,
#contact {
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  padding: 1em;
}

input,
select {
  margin: 7px;
  padding: 5px;
}

select {
  background-color: white;
  border: 1px solid black;
  padding: 10px 31px;
  margin-bottom: 15px;
}

select:hover {
  background-color: #eeedec;
}

.checkLabel {
  text-decoration: none;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding: 20px;
}

.submission {
  width: 550px;
  height: 150px;
  text-align: center;
}

.submission input {
  padding: 10px 75px;
  text-align: center;
  font-size: 17px;
  background-color: white;
  border: 1px solid black;
  margin: 20px 30px;
}

.submission input:hover {
  margin-top: 21px;
  background-color: #eeedec;
}

@media only screen and (max-width: 740px) and (min-width: 300px) {
  .nav {
    min-width: 300px;
  }

  .nav-link {
    font-size: 5vmin;
    padding: 0 1px;
  }

  .form-page {
    max-width: 550px;
    min-width: 300px;
    width: 320px;
    margin: auto;
  }

  .form1 {
    text-align: center;
    min-width: 300px;
    width: 300px;
    margin: 0 auto;
  }

  .upper {
    width: 300px;
  }

  .lower {
    width: 300px;
    margin: auto;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }

  [type="text"] {
    width: 200px;
  }
  #type {
    width: 25vmax;
    margin: 1em;
  }
  .submission {
    width: 250px;
    height: 130px;
    text-align: center;
    margin: auto;
  }
}

@media only screen and (min-width: 850px) {
  .nav {
    justify-content: flex-end;
  }
  .form-page {
    max-width: 900px;
    width: 900px;
    min-width: 500px;
    margin: auto;
  }

  .form1 {
    width: 700px;
    margin: auto;
  }

  .upper {
    margin: auto;
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 700px;
    overflow: visible;
  }
  #type {
    width: 45vmin;
    height: 27vmin;
    margin: 1em;
  }
  .textarea {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
  }

  [type="text"] {
    width: 20vw;
    margin: 30px;
  }

  .lower {
    width: 650px;
    margin: auto;
    box-sizing: content-box;
  }
  .submission {
    width: 550px;
    height: 150px;
    text-align: center;
    margin: auto;
  }
}
